{% extends 'layouts/base.html' %}
{% block content %}
    <div class="text-center border-bottom border-top border-primary h-100 mt-3">
        <h4 class="text-uppercase">Assalomu alaykum! Bizning sayitimizga xush kelibsiz.</h4>
    <pre class="size">Bu sahifa sizni va yaqinlaringizni zeriktirmaslik uchun yaratildi.
        Bemalol bu sayitdan foydalanishingiz mumkin. Eng asosiysi hammasi bepul!
        <br>
        <strong>Yuqoridagi "Mini Games" bo'limidan o'zingizga yoqgan o'yinlarni ko'rishingiz mumkin.</strong>
    </pre>
    </div>
{% endblock %}